<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}"lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>

    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<div layout:fragment="content">
    <div class="container main-content">
        <h1>Contact</h1>
        <div class="row">
            <div class="col-sm-6">
                <h4>About us</h4>
                <p>All degree programmes and research activities at Aalborg University are problem and project-based and have an interdisciplinary focus.
                    Through strong interplay between staff and students and intense collaboration with public and private sectors, we offer degree programmes with a real-world approach and provide world-class research.
                    This results in new insights, new solutions to societal challenges and knowledge that changes the world.</p>

                <h4> Contact info</h4>
                <p>Department of Computer Science</p>
                <p>Aalborg University</p>
                <p>Selma Lagerlöfs Vej 300 9220 Aalborg East, DK</p>
                <p>Telephone: +45 9940 9940</p>
                <p>Telefax: +45 9940 9798</p>
                <p>i16@cs.aau.dk</p>
            </div>

            <div class="col-sm-6">
                <h4>Location</h4>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2172.2870189408723!2d9.989367515959458!3d57.01239238090904!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x464eccdc3b849cf3%3A0xf858a47b27302972!2sCassiopeia+-+Institut+for+Datalogi%2C+Selma+Lagerl%C3%B8fs+Vej+300%2C+9220+Aalborg!5e0!3m2!1sda!2sdk!4v1542280965623" width="600" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>

                <h4>Contact form</h4>

                <form action="#" method="POST" th:action="@{/contact}">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="firstName">Full Name *</label>
                                <input id="firstName" type="text" name="firstName" class="form-control" placeholder="Please enter your name" required="required" data-error="Firstname is required.">
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="email">Email Address *</label>
                                <input id="email" type="text" name="email" class="form-control" placeholder="Please enter your email address" required="required" data-error="Email is required.">
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                             <label for="message">Message *</label>
                             <textarea id="message" name="message" class="form-control" placeholder="Please type a message to send" rows="4" required="required" data-error="Please, leave us a message."></textarea>
                             <div class="help-block with-errors"></div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" name="submit" value="value" class="btn btn-success">Send Message</button>
                </form>

            </div>
        </div>
    </div>
</div>
</html>
