<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" lang="en">
<head>
    <title>Home</title>
    <style>
        .split {
            height: 100%;
            width: 50%;
            position: fixed;
            z-index: 1;
            top: 0;
            overflow-x: hidden;
            padding-top: 5%;
        }

        .left {
            padding-left: 2%;
            padding-right: 1%;
            left: 0;
            background-color: whitesmoke;
        }

        .right {
            padding-left: 1%;
            padding-right: 2%;
            right: 0;
            background-color: whitesmoke;
        }

        .centered {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
        }

        .checkbox-inline {
            display: inline-block;
            width: 30%;
        }

    </style>
    <!-- Sources for select -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.5/css/bootstrap-select.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.5/js/bootstrap-select.min.js"></script>

    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>

</head>
<body>
<div layout:fragment="content">
    <div class="container main-content">
        <div class="split left">
            <div class="left">
                <div class="row">
                    <div class="col-7">
                        <h1>Courses</h1>
                    </div>
                    <div class="col">
                        <a th:href="@{/course/courseAddLessons}">Add lessons to a course</a>
                    </div>
                </div>
                <table id="table" class="table table-sm">
                    <thead>
                    <th scope="col">#Course</th>
                    <th scope="col">Created by Instructor</th>
                    </thead>
                    <tbody>
                    <tr th:each="course : ${courses}">
                        <th scope="row"><a th:href="@{'/course/' + ${course.courseTableID}}"
                                           th:text="${course.courseTableID}"></a></th>
                        <td th:text="${course.instructorFullName}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="split right">
            <div class="right">
                <form method="post" action="#" th:action="'/course/addCourse'" th:object="${courseModel}">
                    <h3>Add new course</h3>
                    <h4>Instructors <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="top" title="Instructor that will be assigned the theory part of the course"></span></h4>
                    <div class="container">
                        <select class="selectpicker" data-style="btn-info" data-live-search="true"
                                th:name="instructorUsername">
                            <option th:each="instructorAccount : ${instructorAccounts}"
                                    th:text="${instructorAccount.firstName + ' ' + instructorAccount.lastName}"
                                    th:value="${instructorAccount.username}"></option>
                        </select>
                    </div>
                    <h4>Students <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="top" title="Students that will be participating in the course. Click on several students to select more than one."></span></h4>
                    <div class="container">
                        <select class="selectpicker" data-style="btn-info" multiple data-max-options="3" data-live-search="true"
                                th:name="studentUsernames">
                            <option th:each="studentAccount : ${studentAccounts}"
                                    th:text="${studentAccount.firstName + ' ' + studentAccount.lastName}"
                                    th:value="${studentAccount.username}"></option>
                        </select>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <h4>Course Type</h4>
                            <select class="selectpicker" data-style="btn-info" id="courseType" name="courseType">
                                <option value="TYPE_B_CAR">Car (B)</option>
                                <option value="TYPE_BE_CAR_TRAILER">Car with Trailer (BE)</option>
                                <option value="TYPE_A_BIKE">Moterbike (A)</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <button type="submit" class="btn btn-primary btn-lg " style="margin-left: 10%">Submit</button>
                    </div>
                </form>
                </tr>
            </div>
        </div>
    </div>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script th:src="@{/js/table.js}"></script>
</div>
</body>
</html>