<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}"lang="en">
<head>
    <title>Home</title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

    <style>
        .checkbox-inline {
            display: inline-block;
        }
    </style>
</head>
<body>

<div layout:fragment="content">
    <div class="container main-content">
        <h3>Lessons to course</h3>
        <form method="post" action="#" th:action="'/course/courseAddLessons'" th:object="${courseModel}">
            <div class="form-row" >
                <div>
                    <select >
                        <!-- The id from each course is displayed as an drop down list and send to the courseModel with the variable name courseTick.  -->
                        <option th:each="course : ${courses}" th:id="courseTick" th:name="courseTick"  th:text="${course.id}" th:value="${course != null} ? ${course.courseTick}"></option>
                    </select>
                </div>
            </div>

            <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                <input th:id="startDate" th:name="startDate" type="text" class="form-control datetimepicker-input" data-target="#datetimepicker1" th:value="${course != null} ? ${course.startDate}"/>
                <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                </div>
            </div>
            <script type="text/javascript">
                $.fn.datetimepicker.Constructor.Default = $.extend($.fn.datetimepicker.Constructor.Default, {
                    icons : {
                        time : 'fas fa-clock',
                        date : 'fas fa-calendar',
                        up : 'fas fa-arrow-up',
                        down : 'fas fa-arrow-down',
                        previous : 'fas fa-chevron-left',
                        next : 'fas fa-chevron-right',
                        today : 'fas fa-calendar-check-o',
                        clear : 'fas fa-trash',
                        close : 'fas fa-times'
                    },
                    format:'YYYY-MM-DD HH:mm'
                });
            </script>

            <div class="form-row">
                <div class="col">
                    <div class="container">
                        <label class="checkbox-inline">
                            <input th:text="Monday" type="checkbox" th:name="weekdays"  class="form-control" th:value="1">
                        </label>
                        <label class="checkbox-inline">
                            <input th:text="Tuesday" type="checkbox" th:name="weekdays"  class="form-control" th:value="2">
                        </label>
                        <label class="checkbox-inline">
                            <input th:text="Wednesday" type="checkbox" th:name="weekdays"  class="form-control" th:value="3">
                        </label>
                        <label class="checkbox-inline">
                            <input th:text="Thursday" type="checkbox" th:name="weekdays"  class="form-control" th:value="4">
                        </label>
                        <label class="checkbox-inline">
                            <input th:text="Friday" type="checkbox" th:name="weekdays"  class="form-control" th:value="5">
                        </label>
                        <label class="checkbox-inline">
                            <input th:text="Saturday" type="checkbox" th:name="weekdays"  class="form-control" th:value="6">
                        </label>
                        <label class="checkbox-inline">
                            <input th:text="Sunday" type="checkbox" th:name="weekdays"  class="form-control" th:value="0">
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class = "col">
                    <input th:id="numberLessons" th:name="numberLessons" type="text" class="form-control" placeholder="Number lessons" th:value="${course != null} ? ${course.numberLessons}"/>
                </div>
            </div>

            <div class="form-row">
                <div class = "col">
                    <input th:id="numberLessonsADay" th:name="numberLessonsADay" type="text" class="form-control" placeholder="Number Lessons a day" th:value="${course != null} ? ${course.numberLessonsADay}"/>
                </div>
            </div>
            <div class="form-row">
                <div class = "col">
                    <input th:id="location" th:name="location" type="text" class="form-control" placeholder="Location" th:value="${course != null} ? ${course.location}"/>
                </div>
            </div>
            <div class="form-row">
                <div class = "col">
                    <select th:name="instructorName">
                        <option th:each="instructorAccount : ${instructorAccounts}" th:text="${instructorAccount.firstName + ' ' + instructorAccount.lastName}" th:value="${instructorAccount.username}"></option>
                    </select>
                </div>
            </div>
            <div class="form-row">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
        <a th:href="@{/course}">Return to All Courses</a>
    </div>


    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script th:src="@{/js/table.js}"></script>
</div>
</body>
</html>