<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" lang="en">
<head>
    <title>Home</title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

    <style>
        .checkbox-inline {
            display: inline-block;
        }
    </style>
    <!-- select bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.5/css/bootstrap-select.min.css">
    <!--script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script--> <!-- Denne linje ødelægger funktionaliteten -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.5/js/bootstrap-select.min.js"></script>
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
</head>
<body>

<div layout:fragment="content">
    <div class="container main-content">
        <h3>Add Initial Theory Lessons <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="top" title="Option to add theory lessons at certain times of the week."></span></h3>
        <form method="post" action="#" th:action="'/course/courseAddLessons'" th:object="${courseModel}">
            <h4> Lessons Will Be Distributed After Date <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="top" title="From what date the lessons will be distributed. So if startdate is an monday and Tuesday is chosen in weekdays, every tuesday from the startdate will be distributed lessons."></span></h4>
            <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                <input th:id="startingPoint" th:name="startingPoint" type="text" class="form-control datetimepicker-input"
                       data-target="#datetimepicker1" th:value="${course != null} ? ${course.startingPoint}"/>
                <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                </div>
            </div>
            <script type="text/javascript">
                $.fn.datetimepicker.Constructor.Default = $.extend($.fn.datetimepicker.Constructor.Default, {
                    icons: {
                        time: 'fas fa-clock',
                        date: 'fas fa-calendar',
                        up: 'fas fa-arrow-up',
                        down: 'fas fa-arrow-down',
                        previous: 'fas fa-chevron-left',
                        next: 'fas fa-chevron-right',
                        today: 'fas fa-calendar-check-o',
                        clear: 'fas fa-trash',
                        close: 'fas fa-times'
                    },
                    format: 'YYYY-MM-DD HH:mm'
                });
            </script>

            <div class="form-row">
                <div class="col">
                    <h4>Weekdays <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="top" title="Which weekdays theory lessons will be held."></span></h4>
                    <div class="container">
                        <select class="selectpicker" data-style="btn-info" multiple data-max-options="3" data-live-search="true"
                                th:name="weekdays">
                            <option th:value="1">Monday</option>
                            <option th:value="2">Tuesday</option>
                            <option th:value="3">Wednesday</option>
                            <option th:value="4">Thursday</option>
                            <option th:value="5">Friday</option>
                            <option th:value="6">Saturday</option>
                            <option th:value="0">Sunday</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="col">
                    <h4> Number of Lessons </h4>
                    <input th:id="numberLessons" th:name="numberLessons" type="text" class="form-control"
                           placeholder="Number lessons" th:value="${course != null} ? ${course.numberLessons}"/>
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <h4> Number Lessons a Day <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="top" title="Number of lessons in a day. A second lesson will be placed right afterwards the first and a third lesson rigt after the second and so on."></span> </h4>
                    <input thid="numberLessonsADay" th:name="numberLessonsADay" type="text" class="form-control"
                           placeholder="Number Lessons a day"
                           th:value="${course != null} ? ${course.numberLessonsADay}"/>
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <h4> Location </h4>
                    <input thid="location" th:name="location" type="text" class="form-control" placeholder="Location"
                           th:value="${course != null} ? ${course.location}"/>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <a th:href="@{/course}">Return to All Courses</a>
    </div>


    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script th:src="@{/js/table.js}"></script>
</div>
</body>
</html>