<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}"lang="en">
<head>
    <title>Error</title>
</head>
<body>

<div layout:fragment="content">
    <div class="container">
        <h1>GDPR</h1>
            <h3>What are we storing?</h3>
            On this website, we store cookies to remember your login. Cookies are small files of data that is stored on your computer, and reopened when you visit this website.

            <h3>Why cookies?</h3>
            We store cookies about your login to not force you to login the next time you visit this website.
</div>
</div>

</body>
</html>