<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}"lang="en">
<head>
    <title>Home</title>

    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
    <script>
        window.addEventListener("load", function(){
            window.cookieconsent.initialise({
                "palette": {
                    "popup": {
                        "background": "#edeff5",
                        "text": "#838391"
                    },
                    "button": {
                        "background": "transparent",
                        "text": "#4b81e8",
                        "border": "#4b81e8"
                    }
                },
                "content": {
                    "href": "/gdpr"
                }
            })});
    </script>
</head>
<body>

    <div layout:fragment="content">
        <div class="jumbotron main-content">
            <h1>Welcome to Driving CMS System</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vel malesuada sapien, at dignissim est. Maecenas ac tincidunt odio. Donec id lectus sit amet neque pretium mollis. Duis sagittis viverra augue. Duis laoreet mollis fringilla. Vivamus aliquet ultricies justo hendrerit elementum. </p>
        </div>
        <div class="container">
            <h3>What do you want to do?</h3>
            <ul>
                <li><a th:href="@{/lessons}">View Lessons</a></li>
                <li><a th:href="@{/storeadmin}">View Store</a></li>
            </ul>
            <span th:text="${penis}"></span>
        </div>
    </div>

</body>
</html>