<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}"
    lang="en">

<head>
    <title>Home</title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
        crossorigin="anonymous">
</head>

<body>

    <div layout:fragment="content">
        <div class="container main-content">
            <h3>Lesson Manager</h3>
            <form method="post" action="#" th:action="${lesson != null} ? '/lessons/'+${lesson.id} : '/lessons'"
                th:object="${lessonModel}">
                <div class="form-row">
                    <div class="col">
                        <h2>Lesson Type</h2>
                        <select class="form-control" id="lessonType" name="lessonType">
                            <option value="THEORY_LESSON" selected="selected">Theory Lesson</option>
                            <option value="PRACTICAL_LESSON">Practical Lesson</option>
                        </select>
                    </div>
                    <div class="col">
                        <h2>Student List</h2>
                        <input th:id="studentList" th:name="studentList" type="text" class="form-control" placeholder="Seperated by comma (username1,username2)"
                            th:value="${lesson != null} ? ${lesson.studentList}" />
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">Search
                            Students</button>
                        <!--input th:id="studentList" th:name="studentList" type="text" class="form-control" placeholder="Students" th:value="${lesson != null} ? ${lesson.studentList}"/-->
                    </div>
                </div>

                <h2>Date</h2></br>
                <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                    <input th:id="lessonDate" th:name="lessonDate" type="text" class="form-control datetimepicker-input"
                        data-target="#datetimepicker1" th:value="${calendarDate}" />
                    <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                </div>
                <script type="text/javascript">
                    $.fn.datetimepicker.Constructor.Default = $.extend($.fn.datetimepicker.Constructor.Default, {
                        icons: {
                            time: 'fas fa-clock',
                            date: 'fas fa-calendar',
                            up: 'fas fa-arrow-up',
                            down: 'fas fa-arrow-down',
                            previous: 'fas fa-chevron-left',
                            next: 'fas fa-chevron-right',
                            today: 'fas fa-calendar-check-o',
                            clear: 'fas fa-trash',
                            close: 'fas fa-times'
                        },
                        format: 'YYYY-MM-DD HH:mm'
                    });

                </script>


                <div class="form-row">
                    <div class="col">
                        <h2>Instructor</h2>
                        <select th:name="lessonInstructor">
                            <option th:each="instructorAccount : ${instructorAccountList}" th:text="${instructorAccount.firstName + ' ' + instructorAccount.lastName}"
                                th:value="${instructorAccount.username}"></option>
                        </select>
                    </div>
                    <div class="col">
                        <h2>Location</h2>
                        <select class="form-control" id="lessonLocation" name="lessonLocation">
                            <option value="Selma Lager Løfsvej 300" selected="selected">Selma Lager Løfsvej 300</option>
                            <option value="Strandvejen 12">Strandvejen 12</option>
                            <option value="Rendsburggade 14">Rendsburggade 14</option>
                            <option value="Other Location">Other Location</option>
                        </select>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col">
                        <h2>Lesson State</h2>
                        <p th:text="${lessonState}"></p>
                        <select class="form-control" id="lessonState" name="lessonState">
                            <option value="PENDING">Pending</option>
                            <option value="COMPLETED_UNSIGNED">Completed (Unsigned)</option>
                            <option value="COMPLETED_SIGNED">Completed (Signed)</option>
                            <option value="STUDENT_ABSENT">Student Absent</option>
                        </select>
                    </div>

                    <div class="col">
                        <h2>Course ID</h2>
                        <select th:name="courseList">
                            <option th:each="courses : ${courseList}" th:text="${courses.getCourseTableID()}"
                                th:value="${courses.getCourseTableID()}"></option>
                        </select>
                    </div>

                </div>
                <div class="form-row">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
            <a th:href="@{/lessons}">Return to All Lessons</a>
        </div>
        <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
        <script th:src="@{/js/table.js}"></script>
        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Student List</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <table id="availableStudents" class="table table-sm" width="450">
                            <thead>
                                <th scope="col">First Name</th>
                                <th scope="col">Last Name</th>
                                <th scope="col">Username</th>
                            </thead>
                            <tbody>
                                <tr th:each="user : ${userAccountlist}">
                                    <td th:text="${user.firstName}"></td>
                                    <td th:text="${user.lastName}"></td>
                                    <td th:text="${user.username}"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4 column">
                </div>
            </div>
        </div>
    </div>
</body>

</html>