<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}"lang="en">
<head>
    <title>Home</title>
</head>
<body>

<div layout:fragment="content">
    <div class="container main-content">
        <div class="row">
            <div class="col-7">
                <h3>Lessons</h3>
            </div>
            <div class="col">
                <a th:href="@{/lessons/add}">Add New Lesson</a>
            </div>
        </div>
        <table id="table" class="table table-striped table-sm">
            <thead>
            <th scope="col">#</th>
            <th scope="col">Type</th>
			<th scope="col">Date</th>
            <th scope="col">Student List</th>
            <th scope="col">Instructor</th>
            <th scope="col">Location</th>
            <th scope="col">Sign Lesson</th>
            </thead>
            <tbody>
            <tr th:each="lesson : ${lessons}">
                <th scope="row"><a th:href="@{'/lessons/' + ${lesson.id}}" th:text="${lesson.id}"></a></th>
                <td th:text="${lesson.lessonType}"></td>
				<td th:text="${lesson.lessonDate}"></td>
                <td th:text="${lesson.studentList}"></td>
                <td th:text="${lesson.lessonInstructor}"></td>
                <td th:text="${lesson.lessonLocation}"></td>
                <td>
                    <form action="#" th:action="@{'/canvas/' + ${lesson.id}}" method="get">
                        <button th:id="'lessonId' + ${lesson.id}" type="submit">
                            <i>Sign Course</i>
                        </button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script th:src="@{/js/table.js}"></script>
</div>
</body>
</html>