<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" lang="en">
<head>
    <title>Home</title>

    <style>
        .centerpane {
            width: 60%;
            height: available;
            max-height: 350px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    </style>
</head>
<body>

<div layout:fragment="content">
    <div class="container main-content">
        <h1><span th:text="${username}"></span>, here are all logbooks:</h1>
        <h3>You can select a logbook to view, by clicking on it's ID.</h3>
    </div>

    <div class="centerpane">
        <table id="instructorLogbookTable" class="table table-hover table-sm bordered">
            <thead>
            <th scope="col">Logbook ID</th>
            <th scope="col">Course ID</th>
            <th scope="col">Logbook Owner</th>
            <th scope="col">Logbook Active?</th>
            <th scope="col">Delete Logbook</th>
            </thead>
            <tbody>
            <tr th:each="logbook : ${allLogbookList}">
                <th scope="row"><a th:href="@{'/logbook/' + ${logbook.getId()}}" th:text="${logbook.getId()}"></a></th>
                <td th:text="${logbook.getCourseID()}"></td>
                <td th:text="${logbook.getStudent()}"></td>
                <td th:text="${logbook.isActive()}"></td>
                <td>
                    <form method="POST" onsubmit="return confirm('Are you sure you want to delete this logbook?');" th:action="@{/deleteLogbook}">
                        <input type="hidden" name="logbookDeleteId" id="logbookDeleteId" th:value="${logbook.getId()}"/>
                        <button type="submit" name="submit" value="value" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script th:src="@{/js/table.js}"></script>
</div>

</body>
</html>

