<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}"
    lang="en">

<head>
    <link rel="stylesheet" href="https://s3.eu-west-2.amazonaws.com/p3-project/store/csstyle.css">
    <title>Register Account</title>
</head>

<body>

    <div layout:fragment="content">
        <div class="container main-content">

            <div class="account-box">
                <div class="account-logo-box text-center bg-primary p-4">
                    <h3 class="m-0 text-white">Driving School</h3>
                    <h5 class="text-white mb-0">Create a new Account</h5>
                </div>
                <div class="account-content">
                    <form class="form-horizontal" method="POST" th:action="@{/register}">

                        <div class="form-group mb-4 row">
                            <div class="col-12">
                                <label for="Username">Username :</label>
                                <input class="form-control" type="text" required="required" placeholder="Username" id="Username" name="Username">
                            </div>
                        </div>

                        <div class="form-group row mb-4">
                            <div class="col-12">
                                <label for="Password">Password :</label>
                                <input class="form-control" type="password" required="required" placeholder="Please enter your password" id="Password" name="Password">
                            </div>
                        </div>

                        <div class="form-group mb-4 row">
                            <div class="col-12">
                                <label for="Email">Email :</label>
                                <input class="form-control" type="email" required="required" placeholder="john@ds.com" id="Email" name="Email">
                            </div>
                        </div>

                        <h4>Account Details</h4>

                        <div class="form-group mb-4 row">
                            <div class="col-12">
                                <label for="FirstName">First Name :</label>
                                <input class="form-control" type="text" required="required" placeholder="First Name" id="FirstName" name="FirstName">
                            </div>
                        </div>

                        <div class="form-group mb-4 row">
                            <div class="col-12">
                                <label for="LastName">Last Name :</label>
                                <input class="form-control" type="text" required="required" placeholder="Last Name" id="LastName" name="LastName">
                            </div>
                        </div>

                        <div class="form-group mb-4 row">
                            <div class="col-12">
                                <label for="PhoneNumber">Phone number :</label>
                                <input class="form-control" type="text" required="required" placeholder="+45 20304050" id="PhoneNumber" name="PhoneNumber">
                            </div>
                        </div>

                        <div class="form-group mb-4 row">
                            <div class="col-12">
                                <label for="Birthday">Birthday :</label>
                                <input class="form-control" type="text" required="required" placeholder="(day/month-year)" id="Birthday" name="Birthday">
                            </div>
                        </div>

                        <div class="form-group mb-4 row">
                            <div class="col-12">
                                <label for="Address">Address :</label>
                                <input class="form-control" type="text" required="required" placeholder="Address" id="Address" name="Address">
                            </div>
                        </div>

                        <div class="form-group mb-4 row">
                            <div class="col-12">
                                <label for="City">City :</label>
                                <input class="form-control" type="text" required="required" placeholder="City" id="City" name="City">
                            </div>
                        </div>

                        <div class="form-group mb-4 row">
                            <div class="col-12">
                                <label for="Zip">Zip Code :</label>
                                <input class="form-control" type="text" required="required" placeholder="Zip" id="Zip" name="Zip">
                            </div>
                        </div>

                        <div class="form-group row mb-4">
                            <div class="col-12">
                                <label class="cr-styled">
                                    <input type="checkbox" checked="">
                                    <i class="fa"></i>
                                    I accept <strong><a href="#">Terms and Conditions</a></strong>
                                </label>

                            </div>
                        </div>

                        <div class="form-group row text-right m-t-10">
                            <div class="col-12">
                                <button class="btn btn-md btn-primary waves-effect waves-light" type="submit">Register</button>
                            </div>
                        </div>

                    </form>

                    <div class="row mt-4">
                        <div class="col-sm-12 text-center">
                            <a href="pages-login.html">Already have account?</a>
                        </div>
                    </div>

                </div>

            </div>
        </div>
</body>

</html>