<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}" lang="en">
<head>
    <title>Home</title>

    <style>
        .centerpane {
            width: 60%;
            height: available;
            max-height: 350px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    </style>
</head>
<body>

<div layout:fragment="content">
    <div class="container main-content">
        <h1><span th:text="${username}"></span>, here are the finished lessons within the time period:</h1>
        <h5>There are <span th:text="${salaryLessonTotal}"></span> lessons with <span
                th:text="${uniqueCourseIdTotal}"></span> unique course ids.
            <span th:text="${courseTypeBLessonTotal}"></span> of them are type B.
            <span th:text="${courseTypeBELessonTotal}"></span> of them are type BE.
            <span th:text="${courseTypeALessonTotal}"></span> of them are type A.</h5>

        <h2>Course ID</h2>
        <select th:name="instructorList">
            <option th:each="instructor : ${instructorList}" th:text="${instructor.getUsername()}"
                    th:value="${instructor.getUsername()}"></option>
        </select>


        <div class="centerpane">
            <table id="salaryLessonTable" class="table table-hover table-sm bordered">
                <thead>
                <th scope="col">Lesson ID</th>
                <th scope="col">Course ID</th>
                <th scope="col">Lesson Date</th>
                <th scope="col">Lesson State</th>
                <th scope="col">Lesson Instructor</th>
                <th scope="col">Lesson Student List</th>
                </thead>
                <tbody>
                <tr th:each="lesson : ${salaryLessonList}">
                    <th scope="row"><a th:href="@{'/lessons/' + ${lesson.getId()}}" th:text="${lesson.getId()}"></a>
                    </th>
                    <td th:text="${lesson.getCourseId()}"></td>
                    <td th:text="${lesson.getLessonDate()}"></td>
                    <td th:text="${lesson.getLessonState()}"></td>
                    <td th:text="${lesson.getLessonInstructor()}"></td>
                    <td th:text="${lesson.getStudentList()}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg-4 col-md-6 mb-4 column">
        </div>
    </div>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script th:src="@{/js/table.js}"></script>
</div>

</body>
</html>