<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" layout:decorate="~{layout}"lang="en">
<head>
    <title>Home</title>
</head>
<body>

<div layout:fragment="content">
    <div width="300" class="main-content float-sm-left">
        <div class="row">
            <div class="col-7">
                <h3>Store Administrator</h3>
            </div>
            <div class="col">
                <a th:href="@{/storeadmin/add}">Add New Course</a>
            </div>
        </div>
        <table id="table" class="table table-striped table-sm">
            <thead>
            <th scope="col">Application ID</th>
            <th scope="col">Course ID</th>
            <th scope="col">Student Username</th>
            <th scope="col">State</th>
            <th scope="col">Enrollment</th>
            <th scope="col">Options</th>
            </thead>
            <tbody>
            <tr th:each="store : ${storeadmin}">
                <th scope="row"><a th:href="@{'/storeadmin/' + ${store.id}}" th:text="${store.id}"></a></th>
                <td th:text="${store.courseId}"></td>
                <td th:text="${store.studentUsername}"></td>
                <td>Pending</td>
                <td>
                    <form method="POST" th:action="@{/accept}">
                        <input type="hidden" name="appId" id="appId" th:value="${store.id}"/>
                        <input type="hidden" name="courseIdAccept" id="courseIdAccept" th:value="${store.courseId}"/>
                        <input type="hidden" name="studentUsernameAccept" id="studentUsernameAccept" th:value="${store.studentUsername}"/>
                        <button type="submit" name="submit" value="value" class="btn btn-success">Approve</button>
                    </form>
                </td>
                <td>
                    <form method="POST" th:action="@{/deny}">
                        <input type="hidden" name="appIdDeny" id="appIdDeny" th:value="${store.id}"/>
                        <input type="hidden" name="courseIdDeny" id="courseIdDeny" th:value="${store.courseId}"/>
                        <input type="hidden" name="studentUsernameDeny" id="studentUsernameDeny" th:value="${store.studentUsername}"/>
                        <button type="submit" name="submit" value="value" class="btn btn-danger">Deny</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div width="300" class="main-content float-sm-right">
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="#">B Course</a>
                    </h4>
                    <h5>$24.99</h5>
                    <br class="card-text">Start Date : 20/11-2018</br>
                    End Date : 20/12-2018</p>
                </div>
                <div class="card-footer">
                    <form th:action="@{/apply}" method="post">
                        <input type="hidden" name="courseId" id="courseId" th:value="123"/>
                        <input type="hidden" name="applyStudentUsername" id="applyStudentUsername" th:value="${#authentication.getPrincipal().getUsername()}"/>
                        <button type="submit" name="submit" value="value" class="btn btn-success">Apply for this Course!</button>
                    </form>
                </div>
            </div>
        </div>
        <div>
            <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
            <script th:src="@{/js/table.js}"></script>
        </div>
</body>
</html>
