<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}"lang="en">
<head>
    <title>Home</title>
</head>
<body>

<div layout:fragment="content">
    <div class="container main-content">
        <h3>Store View</h3>
        <form method="post" action="#" th:action="${store != null} ? '/stores/'+${store.id} : '/stores'" th:object="${storeModel}">

            <div class="form-row">
                <div class="col">
                    <h2>Course ID</h2>
                    <input th:id="courseId" th:name="courseId" type="text" class="form-control" placeholder="courseId" th:value="${store != null} ? ${store.courseId}"/>
                </div>
            </div>

            <div class="form-row">
                <div class="col">
                    <h2>Student Username</h2>
                    <input th:id="studentUsername" th:name="studentUsername" type="text" class="form-control" placeholder="Student Username" th:value="${store != null} ? ${store.studentUsername}"/>
                </div>
            </div>

            <div class="form-row">
                <div class="col">
                    <h2>Lesson State (Pending/Approved/Declined)</h2>
                    <input th:id="state" th:name="state" type="text" class="form-control" placeholder="State" th:value="${store != null} ? ${store.state}"/>
                </div>
            </div>

            <div class="form-row">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>

        </form>
        <a th:href="@{/stores}">Return to All Stores</a>
    </div>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script th:src="@{/js/table.js}"></script>
</div>
</body>
</html>